+++
title = "Mergedocs"
linkTitle = "Mergedocs"

+++

{{< blocks/cover title="The Merge Testbed Platform" subtitle="Conduct experimental research on networked systems" image_anchor="top" height="" color="orange" >}}
<br />
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/mergetb">
		Releases <i class="fab fa-gitlab ml-2 "></i>
	</a>
    <p class="lead mt-4"><a href="/blog/2020/05/01/merge-1.0/" class="text-news">Merge reaches the 1.0 release 🎉</a></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}

Merge is a network testbed platform.  <b><i>Build</i></b> the
sytems of interest to you with bare-metal and virtual machines.  <b><i>Interconnect</i></b>
those machines through high-fidelity emulated networks. <b><i>Run</i></b> experiments that
shape tomorrow's interconnected systems

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Create Experiments" url="/docs" %}}
Use Merge to explore new ideas in interconnected systems.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-bolt" title="Evaluate Systems" url="/blog" %}}
Create dynamic and challenging environments for systems to operate in to test resilience and robustness.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-server" title="Build Testbed Facilities" url="/docs" %}}
Use Merge to build testbeds with unique capabilites that open new doors in experimentation.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="white">}}
<div class="col">
    <center>
    <img src="/img/isi.jpg" class="brand-logo" />
    <img src="/img/darpa.png" class="brand-logo" />
    <img src="/img/arpae.jpg" class="brand-logo" />
    </center>
</div>

{{< /blocks/section >}}



{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-slack" title="Join us on Slack" url="https://join.slack.com/t/mergetb/shared_invite/zt-ozpu39ae-~Uv5ZbLLArXgm6Knwp0~lA" %}}
Join the community on Slack
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Open Source" url="https://gitlab.com/mergetb" %}}
Merge is an open source project hosted on **GitLab**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-comment" title="Join our forum" url="https://forum.mergetb.net" %}}
Engage with testbed operators and experimenters.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}

-->
